#contact
  // height: 90vh
  padding: 4vh
  text-align: center
  display: flex
  align-items: center
  justify-content: center
  +siteGradient()
  .container
    h1
      margin-top: 0
      +headerFont(2.6em)
    hr
      width: 140px
      margin-top: 4vh
      margin-bottom: 4vh
      border: solid 1px $accentColor
    p
      +bodyFont(1.4em)
    label
      margin-top: 30px
      display: block
      +headerFont2(1.4em, $headingColor2)
    input
      margin: auto
      margin-top: 20px
      display: block
      background: none
      border: none
      border-bottom: solid 2px $profileBorderColor
      width: 35vw
      font-size: 1em
      &:active
        outline: none
      &:focus
        outline: none
    button
      // +siteGradient()
      cursor: pointer
      background: none
      text-decoration: underline
      border: none
      border-radius: 0
      margin-top: 4vh
      +headerFont(1.4em)
      &:focus
        outline: none
      &:active
        color: $headingColor2
