#work
  min-height: 100vh
  background-color: #454545
  padding-top: 40px
  h1
    +headerFont(2.6em)
    color: 'white'
    margin: auto
    text-align: center
    margin-bottom: 40px
  .skills
    padding-bottom: 4vh
    overflow: hidden
    height: 70vh
    position: relative
    .paralax-background
      height: 140%
      width: 100%
      background:
        image: url('/assets/laptop.jpg')
        size: cover
        repeat: none
        position: center
        attachment: inherit
      filter: blur(3px)
      opacity: .4
    .overlay
      position: absolute
      text-align: center
      top: 0
      height: 100%
      width: 100%
      opacity: 1
      background-color: $overlayColor
      .skills-grid
        display: grid
        grid-template-columns: 40vw 40vw
        grid-template-rows: 70vh
        grid-column-gap: 5vw
        width: 85vw
        margin: auto
        .icon-wrapper
          align-self: center
          h2
            margin-top: 0
            +headerFont2(2em, $headingColor3)
          .language-grid
            display: grid
            grid-template-columns: 120px 120px 120px
            grid-template-rows: 120px 120px 120px
            grid-column-gap: 20px
            grid-row-gap: 20px
            width: 400px
            margin: auto
            a
              text-decoration: none
            .language-icon
              width: 100%
              height: 100%
              border:
                radius: 50%
                style: solid
                width: 2px
                color: $headingColor3
              h3
                margin: 0
                text-align: center
                position: relative
                top: 50%
                transform: translateY(-50%)
                +headerFont2(1.2em, $headingColor3)
        .description-wrapper
          width: 100%
          align-self: center
          p
            max-width: 70%
            margin: auto
            +bodyFont(1.2em)
            color: white
            line-height: 170%
            a
              +headerFont2(1.2em, $headingColor3)

  .projects
    .project
      height: 70vh
      width: 80vw
      +siteGradient()
      margin: auto
      margin-bottom: 20vh
      display: grid
      grid-template-columns: 45% auto
      grid-template-rows: 100%
      grid-column-gap: 2vw
      box-shadow: 0px 0px 20px -5px 'black'
      .project-image
        align-self: center
        justify-self: center
        max-height: 80%
      .project-description
        align-self: center
        justify-self: center
        h2
          +headerFont2(2em, $headingColor)
          text-align: center
        p
          text-align: center
          width: 70%
          margin: auto
          +bodyFont(1em)
        .tech-used-div
          max-width: 15vw
          margin: auto
          text-align: center
          ul
            padding: 0
          .tech-used
            display: inline-block
            background-color: black
            margin: 3px
            padding: 1px 4px
            border-radius: 4px
            color: white
            +bodyFont(1em)

  .experience
    h2
      +headerFont2(2em, $headingColor3)
      text-align: center
    .timeline-container
      width: 100%
      padding-bottom: 12vh
      background:
        image: url('/assets/experience.jpg')
        size: cover
        repeat: none
        position: center
      .timeline
        position: relative
        top: 7vh
        width: 3px
        background-color: $timelineColor
        margin: auto
        .point
          width: 80vw
          transform: translate(-50.2%, -30px)
          display: grid
          grid-template-columns: 39.4vw 1.6em 39.4vw
          .description
            justify-self: center
            padding: 10px
            margin-bottom: 20px
            width: 80%
            min-height: 20vh
            background-color: #454545
            h4
              +headerFont2(1.6em, white)
              margin: 20px
            p
              +bodyFont(1em)
              line-height: 170%
              margin: 20px
            ul
              padding: 0
              margin: 20px
              .tech-used
                display: inline-block
                background-color: black
                margin: 3px
                padding: 1px 4px
                border-radius: 4px
                color: white
                +bodyFont(1em)
          .dateRange
            text-align: left
            width: 30vw
            justify-self: center
          .dot
            width: 100%
            height: 1.6em
            border-radius: 50%
            background-color: $accentColor
            margin-top: 30px
        .point:nth-of-type(odd)
          .description
            grid-column-start: 3
          .dateRange
            grid-column-start: 1
            grid-row-start: 1
            text-align: right
          .dot
            grid-column-start: 2
            grid-row-start: 1


.vis
  opacity: 1 !important
  transform: translateX(0px) !important
