#work
  min-height: 100vh
  background-color: #454545
  padding-top: 40px
  h1
    +headerFont(2.6em)
    margin: auto
    text-align: center
    margin-bottom: 40px
  .skills
    height: 50vh
    display: flex
    align-items: center
    justify-content: center
    h2
      +headerFont2(2em, $headingColor3)
  .projects
    height: 70vh
    background:
      image: url('/assets/laptop.jpg')
      size: cover
      repeat: none
      position: center
      attachment: inherit 
  .experience
    height: 70vh
