//global vars
@import vars

body, html
  margin: 0
  height: 200vh
  max-width: 100%
  overflow-x: hidden

.show
  opacity: 1

// desktop styles
@media (min-width: $minDesktop)
  @import nav
  @import homepage

ipad styles
@media (min-width: $minIpad) and (max-width: $maxIpad)
  @import nav-tablet

// mobile styles
@media (max-width: $maxPhone)
  @import nav-phone
