//global vars
@import vars

body, html
  margin: 0
  height: 200vh

.show
  opacity: 1

.selected
  color: $navLinkActive
  text-decoration: underline

// Universal styles
@import progress
@import footer

// desktop styles
@media (min-width: $minDesktop)
  @import nav
  @import homepage
  @import contact
  @import work
  @import play

ipad styles
@media (min-width: $minIpad) and (max-width: $maxIpad)
  @import nav-tablet
  @import homepage-tablet
  @import contact-tablet
  @import work-tablet
  @import play


// mobile styles
@media (max-width: $maxPhone)
  @import nav-phone
  @import homepage-phone
  @import contact-phone
  @import work-phone
  @import play
