<!DOCTYPE html>
<html>
  <head ng-app="admin">
    <meta charset="utf-8">
    <title>Admin page</title>
    <link async rel="stylesheet" href="/styles/admin.min.css">
  </head>
  <body ng-controller="adminController">

    <textarea rows="8" cols="80" ng-model="postmd" ng-keydown="renderHTML()"></textarea>
    <div class="submit">
      <input type="password" ng-model="password">
      <button type="button">Submit</button>
    </div>

    <ng-bind-html ng-bind-html="posthtml" class="output"></ng-bind-html>

    <!-- scripts -->
    <script src="vendors/jquery.min.js" charset="utf-8"></script>
    <script src="vendors/angular.min.js" charset="utf-8"></script>
    <script src="vendors/angular-sanitize.min.js" charset="utf-8"></script>
    <script src="vendors/marked.min.js" charset="utf-8"></script>
    <script src="scripts/admin.js" charset="utf-8"></script>
  </body>
</html>
