<!DOCTYPE html>
<html ng-app="blogApp">
  <head>
    <meta charset="utf-8">
    <title>Hogan McDonald | Blog</title>
    <link async rel="stylesheet" href="/styles/blog.min.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108397699-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-108397699-2');
    </script>
  </head>
  <body ng-controller="blogController" ng-init="loadPosts(0)">

    <header>
      <div class="background"></div>
      <a href="/"><div class="home">
        <img src="/assets/home.svg" alt="home">
      </div></a>

    </header>

    <div class="profile"></div>


    <div class="content">
      <div class="post" ng-repeat="post in posts">
        <ng-bind-html ng-bind-html="post"></ng-bind-html>
      </div>
    </div>


    <footer id="links">
      <a href="https://www.linkedin.com/in/hogan-mcdonald/"><img src="/assets/linkedin.svg" alt="linkedin"></a>
      <a href="https://github.com/HoganMcDonald"><img src="/assets/github.svg" alt="github"></a>
      <a href="mailto:hpeter.mcdonald@icloud.com"><img src="/assets/email.svg" alt=""></a>
    </footer>

    <!-- script files -->
    <!-- Typekit -->
    <script src="https://use.typekit.net/hal4idp.js"></script>
    <script>
      try {
        Typekit.load({
          async: true
        });
      } catch (e) {}
    </script>
    <script src="vendors/jquery.min.js" charset="utf-8"></script>
    <script src="vendors/angular.min.js" charset="utf-8"></script>
    <script src="vendors/angular-sanitize.min.js" charset="utf-8"></script>
    <script src="scripts/blog.js" charset="utf-8"></script>
  </body>
</html>
